@font-face {
    font-family: "Judson-Bold";
    src: url("fonts/Judson-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    color:#241104;
    
  }

@font-face {
    font-family: "Judson-Regular";
    src: url("fonts/Judson-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    color: #241104;
  }

@font-face {
    font-family: "Judson-Italic";
    src: url("fonts/Judson-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    color: #241104;
  }

  @font-face {
    font-family: "roboto-bold";
    src: url("fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    color: #241104;
  }

  @font-face {
    font-family: "Roboto-Light";
    src: url("fonts/Roboto-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    color: #241104;
  }

  @font-face {
    font-family: "Roboto-Regular";
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    color: #241104;
  }

h1 {
    font-family: "Judson-Regular", sans-serif;
    font-size: 60px;
    padding: none;
  }

body {
    font-family: "Roboto-Regular", sans-serif;
    background-color: #EADED7;
  }

nav{
    display: flex;
    justify-content: center; 
    align-items: center;
    
}

.search-bar{
  letter-spacing: .15px;
  appearance: none;
  display: flex;  
  border-radius: 10px ;
  padding: 8px 12px;
  font-size: 1rem;
  flex: 1 1 auto;
  min-width: 400px;
  display: block;
  width: fit-content;
  background: #EADED7;
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2);          
}


/* Main Filter Button */
.filter-button {
  border: 1px solid rgba(255, 255, 255, .25) ;
  background: linear-gradient(to bottom, #fff9f56d, #EADED7);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.078);
  color: #000000;
  border-radius: 10px;
  padding: 8px 12px;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition:  0.3s;
  margin: 1rem;
}

.filter-button:hover {
  background-color: #ffffff55;
  color: black;
}

/* Popup Overlay */
.popup {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup Content */
.popup-content {
  background-color: white;
  padding: 4rem;
  border-radius: 12px;
  text-align: center;
  min-width: 300px;
  position: relative;
  margin: 1rem;
}

/* Close (X) Button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #49494967;
  font-weight: bold;
}

.close-button:hover {
  color: #1f1a1a;
}

/* Popup Heading */
.popup-content h2 {
  margin-bottom: 20px;
}

/* Filter Options Buttons */
.filter-options-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}


.recipes{
  background: linear-gradient(to bottom, #fff9f56d, #EADED7);
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.078);
  
}

.search-bar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background: white;
  width: 500px;
  height: 55px;
  display: flex;
  border-radius: 2rem;
  margin: 5px;
}

form input {
  flex: 1;
  border: 4px solid var(--darkgreen);
  outline: none;
  border-radius: 2rem 0rem 0rem 2rem;
  padding: 25px;
  font-size: 1.2rem;
  font-family: "Roboto-Regular", sans-serif;
  color: var(--charcoal);
}

form button {
  background: var(--darkgreen);
  padding: 25px;
  border: 4px solid var(--darkgreen);
  outline: none;
  color: white;
  cursor: pointer;
  border-radius: 0rem 2rem 2rem 2.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -35px;
}

.recipe-card {
  margin: 10px;
  border: none;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  height: auto;
  transition: transform 0.3s ease-in-out;
  background-color: white;
}


@media (max-width: 600px) {
  form {
      width: 400px;
  }

  form input {
      font-size: 1.1rem;
  }

  .recipes {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 50px;
}

  
}
