@font-face {
  font-family: "Judson-Bold";
  src: url("fonts/Judson-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Judson-Regular";
  src: url("fonts/Judson-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Judson-Italic";
  src: url("fonts/Judson-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "roboto-bold";
  src: url("fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  src: url("fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
}



h1 {
    font-family: "Judson-Regular", sans-serif;
    font-size: 60px;
    padding: 5rem;
  }

h2{
  font-family: "roboto-bold", sans-serif;
  font-size: 32px;
  font-weight: 500;
}


h3{
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

body {
    font-family: "Roboto-Regular", sans-serif;
    background-color: #EADED7;
    justify-content: center; 
    align-items: center;
  }

/* Remove default ul styles */
.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end; /* Right align by default */
  align-items: center;
  position: relative;
}

/* Center "Savor" */
.nav-links .savor {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0;
}

.nav-links .savor a {
  text-decoration: none;
  color: #000000;
 
}

a{
  text-decoration: none;
  color: #1f1a1a;
}



/* Main Filter Button */
.filter-button {
  border: 1px solid rgba(255, 255, 255, .25) ;
  background: linear-gradient(to bottom, #fff9f56d, #EADED7);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.078);
  color: #000000;
  border-radius: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition:  0.3s;
  position: relative;
  margin-left: 10%; 
  margin-top: 10px;

}

.filter-button:hover {
  background-color: #ffffff55;
  color: #241104;
}

/* Popup Overlay */
.popup {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup Content */
.popup-content {
  background-color: rgb(245, 243, 238);
  padding: 4rem;
  border-radius: 12px;
  text-align: center;
  min-width: 300px;
  position: relative;
  margin: 1rem;
}

/* Close (X) Button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #49494967;
  font-weight: bold;
}

.close-button:hover {
  color: #1f1a1a;
}

/* Popup Heading */
.popup-content h2 {
  margin-bottom: 20px;
}

/* Filter Options Buttons */
.filter-options-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}


.recipes{
  margin: 0 auto;
  background: linear-gradient(to bottom, #fff9f56d, #EADED7);
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.078);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 1rem; /* space between columns/rows */
  justify-content: center;
  max-width: 70%;
  
}
.recipe-card {
  display:flex;
  flex-direction: column;
  margin: 5px;
  border: none;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  height: auto;
  transition: transform 0.3s ease-in-out;
  background: linear-gradient(to bottom, #fff9f56d, #EADED7);
  padding: 0.75rem 1.5rem;
  position: relative;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.078);
}

.recipe-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.recipe-card img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
  margin: 0; /* reset any weird margin */
  padding: 5px 0 0;
}

.recipe-card h2 {
  margin: 10px 0px 0px;
  font-size: 27px;
  padding: 0px 5px;
  width: 100%;
  color: #241104;
}

.recipe-card h3 {
  font-size: 24px;
  margin-bottom: 15px;
  padding: 0px 5px;
  font-weight: 500;
  color: #241104;
}


.search-bar {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background: #EADED7;
  width: 500px;
  height: 55px;
  display: flex;
  border-radius: 2rem;
  margin: 5px;
  
}
input{
  background: #EADED7;
  box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.25),
              inset -3px -3px 6px rgba(255, 255, 255, 0.7);
}
form input {
  flex: 1;
  border: 2px solid #EADED7;
  outline: none;
  border-radius: 2rem 0rem 0rem 2rem;
  padding: 25px;
  font-size: 1.2rem;
  font-family: "Roboto-Regular", sans-serif;
  color: black;
}

form button {
  background: #EADED7;
  padding: 25px;
  border: 2px solid #EADED7;
  outline: none;
  color: #EADED7;
  cursor: pointer;
  border-radius: 0rem 2rem 2rem 2.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -32px;
  box-shadow: inset 0px 3px 0px rgba(0, 0, 0, 0.25),
              inset -3px -3px 6px rgba(255, 255, 255, 0.7);
}


.search-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.recipe-card {
  margin: 10px;
  border: none;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  height: auto;
  transition: transform 0.3s ease-in-out;
  background-color: white;
}


.recipe-cover-img {
  width: 100%;
  max-height: 200px;          
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}


.content{
  margin: 0 auto;
  background: linear-gradient(to bottom, #fff9f56d, #EADED7);
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.078);
  display: flex;
  gap: 1rem; /* space between columns/rows */
  justify-content: center;
  max-width: 70%;
}


.nav-links a:hover {
  color: #000; 
} 

.box{
  width: 60%;
  max-width: 1000px;
  padding: 1rem 1rem;
  margin: 1rem auto;      /* centers it horizontally */
  text-align: left;  /* centers the text inside */
  border: 1px solid rgba(255, 255, 255, .25) ;
  background: linear-gradient(to bottom, #fff9f56d, #EADED7);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.078);
  color: #1f1a1a;
  border-radius: 10px;
}

@media (max-width: 600px) {
  form {
      width: 400px;
  }

  form input {
      font-size: 1.1rem;
  }

  .recipes {
    display: grid;
    margin: 50px;
}

  
}
@media (min-width: 601px) {

  form input {
      font-size: 1.1rem;
  }

  .recipes {
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
}

  
}

.footer{
  font-family: "Judson-Regular", sans-serif;
  text-align: center;
}
